<!DOCTYPE html>
<html>
<head>
  <title>Alice</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <script>
    System.config({
      baseURL: 'assets',
      packages: {
        app: {
          format: 'register',
          defaultExtension: 'js'
        }
      },
      paths: {
        rxjs: './assets/rxjs/bundles/Rx.js',
        underscore: './assets/underscore/underscore.js'
      }
    });
    System.import('boot')
          .then(null, console.error.bind(console));
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/1.0.3/ng2-bootstrap.min.js"></script>
</html>
